body {
    background-color: rgb(190, 236, 227);
}

input {
    background-color: antiquewhite;
    border-width: 3px;
    border-width: 1.2 em;
    border-width: 2 rem;
    border-width: 1.2 vh;
    border-width: 1.2 vw;
}

input:hover {
    border-color: rgba(158, 36, 239, 0.946);
    border-width: 3px;
    border-width: 1.2 em;
    border-width: 2 rem;
    border-width: 1.2 vh;
    border-width: 1.2 vw;
}